################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
**/_ReSharper.Caches/**
**/bin/*
**/obj/*
*.user
